<div class="justify-center">
  <mat-card>

    <table cellspacing="0">
      <tr>
        <td><mat-form-field class="example-full-width">
            <mat-label>Vorname</mat-label>
            <input matInput [(ngModel)]="firstname" required>
          </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>Nachname</mat-label>
            <input matInput [(ngModel)]="lastname" required>
          </mat-form-field></td>
      </tr>
    </table>

    <mat-form-field class="example-full-width">
      <mat-label>Telefonnummer</mat-label>
      <input matInput [(ngModel)]="phonenumber" required type="tel">
    </mat-form-field>

    <table cellspacing="0">
      <tr>
        <td><mat-form-field>
            <mat-label>Fleisch</mat-label>
            <mat-select [(ngModel)]="product" name="meet">
              <mat-option *ngFor="let product of all_products" [value]="product">
                {{product.name}}, {{product.price}} €/kg
              </mat-option>
            </mat-select>
          </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
            <mat-label>kg</mat-label>
            <input matInput [(ngModel)]="quantity" type="number">
          </mat-form-field></td>
        <td><button mat-mini-fab class="green" (click)="add_chosen_products()" [disabled]="disable_add_product()">
            <mat-icon>add_shopping_cart</mat-icon>
          </button></td>
      </tr>
    </table>

    <table mat-table [dataSource]="chosen_products" class="example-full-width">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Produkt </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        <td mat-footer-cell *matFooterCellDef> <b>Gesamtpreis</b> </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Menge </th>
        <td mat-cell *matCellDef="let product"> {{product.quantity}} kg </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preis </th>
        <td mat-cell *matCellDef="let product"> {{product.price*product.quantity}} € </td>
        <td mat-footer-cell *matFooterCellDef> <b>{{getTotalCost()}} €</b></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product; let i = index" align="end"> <button mat-icon-button
            [disabled]="!chosen_products.length" (click)="remove_chosen_products(i)">
            <mat-icon>delete</mat-icon>
          </button></td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let order; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <div>
      <mat-form-field class="example-full-width">
        <input #minmaxInput matInput [matDatepicker]="picker" [min]="minDate" [matDatepickerFilter]="myFilter"
          placeholder="Datum zum Abholen der Bestellung" [(ngModel)]="order_date_for">
        <mat-datepicker-toggle matSuffix [for]="picker" style="font-size: 29px;"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div align="end">
      <button mat-flat-button class="order" (click)="send_order()" [disabled]="disable_order()">Bestellen</button>
    </div>

  </mat-card>

</div>