.green {
  background-color: #38a445;
  color: white;
}

.order {
  background-color: #a36760;
  color: white;
}

#mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
.mobile-width {
  width: 100%;
}
#desktop {
  display: none;
}
#mobile {
  display: inline;
}
}