/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.example-full-width {
  width: 100%;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.mat-toolbar {
  background-color: #c4171d;
  color: white;
}

.spacer {
  flex: 1 1 auto;
  text-align: center;
}

.order {
  background-color: #a36760;
  color: white;
}

#mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
.mobile-width {
  width: 100%;
}
#desktop {
  display: none;
}
#mobile {
  display: inline;
}
}